body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

header {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 120px;
  height: auto;
}

.nav-list,
.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list ul,
.social-icons ul {
  display: flex;
}

.nav-list ul li,
.social-icons ul li {
  margin-right: 20px;
}

.nav-list ul li:last-child,
.social-icons ul li:last-child {
  margin-right: 0;
}

.toggle-btn {
  display: none;
}

#A_resultContainer {
  background: rgba(195, 182, 73, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 20px;
  margin-top: 80px; /* Adjust this value according to your design */
}

.th_Result {
  text-align: center;
  color: #ffffff;
}

.th_Status {
  font-size: 24px;
  margin-bottom: 10px;
}

#iconId {
  font-size: 48px;
  margin-bottom: 10px;
}

#th_Score {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.th_Comment {
  font-size: 18px;
}

.showTable {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.tableHead {
  background-color: #c3b649;
  color: #ffffff;
  font-weight: bold;
}

.question,
.answer,
.A_state {
  padding: 10px;
  text-align: center;
}
